form(name="settingForm" ng-submit="save()")
	md-list(ng-clock)
		md-list-item
			md-input-container(flex="")
				label AccessToken
				input(
					name="accessToken"
					ng-model="setting.accessToken"
					ng-pattern="/^[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}$/i"
					md-maxlength="36"
					autocomplete="off"
					required
				)
				div(ng-messages="settingForm.accessToken.$error")
					div(ng-message="md-maxlength") 您输入的内容过多，请重新输入
					div(ng-message="pattern") AccessToken格式错误，请重新输入
		md-divider
		md-subheader 文章
		md-list-item
			md-input-container(flex)
				label 一页的文章个数
				md-select(ng-model="setting.pageSize")
					md-option(value="10") 10
					md-option(value="15") 15
					md-option(value="20") 20
					md-option(value="25") 25
					md-option(value="30") 30
		md-divider
		md-subheader 消息
		md-list-item
			md-input-container(flex)
				label 消息检测间隔
				md-select(ng-model="setting.interval")
					md-option(value="3000") 3秒钟（测试使用）
					md-option(value="60000") 1分钟
					md-option(value="300000") 5分钟
					md-option(value="600000") 10分钟
					md-option(value="1800000") 30分钟
					md-option(value="3600000") 一小时
		md-list-item
			md-button(type="submit").md-primary Save
			md-button.md-warn(type="reset") Cancel